section.documents 
	.section_in 
		.documents_main 
			.documents_title 
				h5 Сертификаты и документы
			.documents_slider_w 
				.documents_slider.swiper-container 
					.swiper-wrapper
						-for(i = 0; i < 12; i++) 
							.swiper-slide 
								.documents_slide 
									a(href="i/documents.jpg" data-fancybox)
										img(src="i/documents.jpg", alt="") 
				.documents_pug