
section.reviews
	.section_w 
		.reviews_main 
			h5 Отзывы 
			.reviews_slider--w 
				.reviews_slider.swiper-container 
					.swiper-wrapper
						- for(i = 0; i < 6; ++i)
							.swiper-slide 
								.reviews_slide--w 
									.reviews_slide--img 
										.reviews_slide--imgw 
											img(src="i/single.jpg")
										.reviews_pug 
									.reviews_content.global_txt_block
										p Здравствуйте!
										p Наша семья выражает благодарность Реацентр Крым в Феодосии за прохождение курса рефлексотерапии, квантовой процедуры, микрополяризации мозга с занятиями нейропсихолога-Бажковой Натальей Вадимовной. Моему сыну 7 лет и он нуждается в постоянных занятиях, прохождении процедур каждые 3 месяца у него ЗПРР и аутический спектр. Селимчик из многодетной семьи и наша семья старается всячески помочь ему , но к сожалению всё дорого и мы не всё можем позволить!
										p Низкий поклон благотворительному фонду ''Добро побеждает!'' спасибо неравнодушным людям, которые дали возможность пройти курс, без Вас мы бы не потянули! Спасибо всему коллективу Реацентр Крым , всё было на высшем уровне, ребёнок с удовольствием ходил к Вам! Ещё раз спасибо за оказанную помощь, всем крепкого здоровья!!
										span SUSANA
					.reviews_pug.reviews_mobile--pug
				.reviews_btn-more
					a(href="#") Все отзывы 

