.bread {
}
.section_in {
}
.bread_main {
  display: flex;
  align-items: center;
	margin: 3rem 0 6rem 0;
  @include bp($point_2) {
    min-height: 100%;
    margin-bottom: 0;
    padding: 1rem 0;
    margin: 2rem 0;
  }
}
.bread_list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  @include bp($point_2) {
    flex-wrap: wrap;
  }
  li {
    position: relative;
    display: flex;
    align-items: center;
    a {
      opacity: .7;
      &:hover {
        opacity: 1;
      }
    }
    &:after {
      margin: 0 1.2rem;
      content: '';
      line-height: 2.5rem;
      color: $white;
      background-image: url('../../i/vector/right.svg');
      width: 1rem;
      height: 1rem;
      background-size: contain;
      background-repeat: no-repeat;
      margin-bottom: -.3rem;
      @include bp($point_2) {
        width: .7rem;
        height: .7rem;
        margin: 0 1rem;
      }
    }
    &:last-child {
      &:after {
        display: none;
      }
    }
    a, p {
      color: $dark;
      @include bp($point_2) {
        font-size: 1.4rem;
      }
    }
  }
}