.special_single {
}
.section_in {
}
.special_single--main {
  display: flex;
  margin-bottom: 9.5rem;
  @include bp($point_2) {
    margin-bottom: 8rem;
  }
}
.special_single--card {
  display: flex;
  @include bp($point_2) {
    flex-direction: column;
    margin-bottom: 3rem;
  }
}

.special_single--content {
  h1 {
    font-size: 3rem;
    margin-bottom: 4.7rem;
    font-family: $font_3;
    color: $dark;
    @include bp($point_2) {
      font-size: 2.6rem;
      margin-bottom: 3rem;
      line-height: 3rem;
    }
  } 
}
.special_single--card {
}
.special_card--img {
	max-width: 48.8rem;
	width: 100%;
  height: 48.8rem;
  margin-right: 2rem;
  border-radius: 1rem;
  overflow: hidden;
  @include bp($point_2) {
    min-width: 100%;
    height: 25rem;
    margin-bottom: 2rem;
  }
  img {
    object-fit: cover;
  }
}
.special_card--content {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.special_card--list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
	margin-bottom: 5.5rem;
	@include bp($point_2) {
		margin-bottom: 3rem;
	}
  li {
    display: inline-block;
    margin-bottom: 2rem;
    @include bp($point_2) {
      font-size: 1.6rem;
      margin-bottom: 0.8rem;
    }

    span {
      font-family: $font_2;
      @include bp($point_2) {
        font-size: 1.6rem;
      }
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}
.special_single--nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  div a {
    display: flex;
    align-items: center;
    justify-content: center;
    svg {
      margin-bottom: -.1rem;
      transition: all .3s ease;
      @include bp($point_2) {
        display: none;
      }
    }
  }
}

.singleSpecial_btn {
	@include bp($point_2) {
		width: 100%
	}
	button {
		@include btn-standart;
	}
}
.special_single--left {
  p {
    margin-left: 1.8rem;
    color: $violet;
    font-size: 1.8rem;
    @include bp($point_2) {
      margin-left: 0;
      font-size: 1.6rem;
    }
  }
  &:hover {
    svg {
      transform: translateX(-.5rem);
    }
  }
}
.icon {
}
.icon-small_left {
}
.special_single--right {
  p {
    margin-right: 1.8rem;
    color: $violet;
    font-size: 1.8rem;
    @include bp($point_2) {
      margin-right: 0;
      font-size: 1.6rem;
    }
  }
  &:hover {
    svg {
      transform: translateX(.5rem);
    }
  }
}
.icon-small_right {
}