section.action
	.section_in 
		.action_main 
			.action_card 
				.action_card--head 
					p Получите бесплатную консультацию
					span Заполните форму, и мы свяжемся с вами!
				.action_form 
					.action_form--input 
						input(type="text" placeholder="Ваше имя")
					.action_form--input 
						input(type="tel" placeholder="Ваш номер телефона")
					.action_form--check 
						input(type="checkbox" id="check_1")
						label(for="check_1")
							p Cогласен на обработку персональных данных
					.action_form--btn 
						input(type="submit", value="Отправить") 
				