section.global_form
	.section_in 
		.global_form--main 
			.global_form--content 
				.global_form--head 
					p Запишитесь на приём
					span Заполните форму, и мы свяжемся с вами!
				.global_form--check 
					input(type="checkbox", id="global_check")
					label(for="global_check")
						p Cогласен на обработку персональных данных
			.global_forms 
				.global_form--input 
					input(type="text" placeholder="Ваше имя")
				.global_form--input 
					input(type="tel" placeholder="Ваш номер телефона")
				.global_form--btn 
					input(type="submit", value="Отправить")