section.sidebar
	.sidebar_mobile 
		p Меню
	ul.sidebar_list 
		each item in ['О нас', 'График работы организации', 'Информация для родителей', 'Учредительные документы и лицензии', 'Расписание', 'Новости', 'Обработка персональных данных', 'Фотографии', 'Структура и органы управления', 'График приема руководителем', 'Отзывы']
			li 
				a(href="#")=item
	.sidebar_trend 
		ul.sidebar_trend--list 
			li 
				a(href="#" class="trigger_record")
					.sidebar_trend--img 
						img(src="i/action.jpg")
					p Запись к врачу
			li 
				a(href="#")
					.sidebar_card--img 
						img(src="i/gos_6.jpg") 