extends _layout

block vars
	- array = {body_class:'', layout_mod:'', sub_keywords:'', title_inner:'Articles of the page'}
block content_block
	+bread(['Главная'], 'О нас')
	section.about 
		.section_in 
			.about_main_w 
				.about_hero 
					.about_hero_content 
						h1 О нас
						.about_hero_txt.global_txt_block 
							p "Реацентр Крым" - это детская неврологическая клиника, которая с помощью  комплексного индивидуального подхода   помогает разобраться с состояниями ребенка и установить правильный диагноз. 
							p Лечение в нашей клинике проводится только после  уточнения диагноза ребенка при участии всех ведущих врачей "Реацентр Крым". Проводится комплексная диагностика на аппарате АРМ-Пересвет, зарекомендовавшем себя с 1998 года на российском и международном рынках, как надежный и качественный лечебно-диагностический комплекс. Крупнейшие российские клиники применяют новейшие методики на АРМ-Пересвет аппарате. Вся информация, отзывы об этом современном аппарате находятся на сайте  научно- медицинского центра Пересвет г.Москва.
							p Всем пациентам "Реацентр Крым" рекомендовано провести исследование ЭЭГ головного мозга ребенка с картированием, с тестированием (при показаниях), сделать электрокардиограмму сердца. Это необходимо для назначения курса комплекса реабилитации, а также для мониторинга состояния и результатов. После первого, очередного курса будет назначен медикаментозный курс лечения. Ежемесячно наши пациенты приглашаются на контрольные приемы к неврологу.
							p В "Реацентр Крым" проводятся консультации специалистов: врача функциональной диагностики, невролога, логопеда-дефектолога, психолога, врача ЛФК, врача физиотерапевта,психотерапевта,  ортопед, педиатра.
					.about_hero_img 
						.about_directory_img
							img(src="i/about.jpg", alt="")
						p Комкова Наталия Борисовна
						span Генеральный директор, учредитель
				.about_main_content 
					h2 Перечень заболеваний, при которых могут помочь наши специалисты:
					.about_main_txt.global_txt_block 
						ul 
							li Детский церебральный паралич (ДЦП);
							li Компенсированные формы гидроцефалий, гидроцефальных синдромов с нарушениями функций ходьбы различного уровня;
							li Непрогрессируюшие мозжечковые атаксии с умеренными и умеренно - выраженными функциями ходьбы и опоры ;
							li Нарушения функций ходьбы и опоры с неясной этиологией;
							li Сколиозы 1-2 степени (патология ортопедическая!);
							li Сколиотическая осанка;
							li Плосквальгусная стопа
							li Осложнения после прививок;
							li Тетрапарез, гемиапарезы;
							li Гипертензионный синдром;
							li Гидроцефальный синдром, гидроцефалия;
							li Аутизм (РДА);
							li Аутистический спектр нарушений;
							li Синдром дефицита внимания (СДВГ) и гиперактивности;
							li Различные задержки, связанные с генетическими аномалиями;
							li Задержка психо-речевого развития (ЗПРР);
							li Задержка умственного развития;
							li Общее недоразвитие речи (ОНР);
							li Задержка речевого развития (ЗРР);
							li Тугоухость 1 и 2 степени;
							li Алалия;
							li Дизартрия;
							li Акалькулия;
							li Дислексия;
							li Дисграфия;
							li Заикание;
							li Логоневрозы;
							li Навязчивые движения;
							li Ночные страхи;
							li Нервные тики;
							li Обмороки; 
							li Снохождения; 
							li Сноговорения;
							li Энурез.
						p Основным методом лечения является рефлеклексотерапия (квантовая и микротоковая). В центре работает зал ЛФК, механотерапии, массаж (общий и логопедический), проводятся групповые и индивидуальные занятия с психологом и логопедом. В ближайшее время к работе приступят: мануальный терапевт, психиатр, аллерголог-иммунолог, ортопед, отделение физиотерапии, процедурный кабинет, дневной стационар.
					.fund_image 
						img(src="i/fund.jpg", alt="")