extends _layout

block vars
	- array = {body_class:'', layout_mod:'', sub_keywords:'', title_inner:'Home of the page'}
block content_block
	include blocks/hero
	include blocks/rate
	include blocks/service
	include blocks/special
	include blocks/reviews
	include global/action
	include blocks/news
	include blocks/documents