extends _layout

block vars
	- array = {body_class:'', layout_mod:'', sub_keywords:'', title_inner:'Reviews of the page'}
block content_block
	+bread(['Главная'], 'Отзывы')
	section.pageReviews 
		.section_in 
			.pageReviews_main 
				h1 Отзывы
				ul.pageReviews_list
					-for(i = 0; i < 12; i++)
						li.pageReviews_item 
							.pageReviews_name 
								h3 Susana
							.pageReviews_txt.global_txt_block 
								p Здравствуйте! Наша семья выражает благодарность Реацентр Крым в Феодосии за прохождение курса рефлексотерапии, квантовой процедуры, микрополяризации мозга с занятиями нейропсихолога-Бажковой Натальей Вадимовной. Моему сыну 7 лет и он нуждается в постоянных занятиях, прохождении процедур каждые 3 месяца у него ЗПРР и аутический спектр. Селимчик из многодетной семьи и наша семья старается всячески помочь ему , но к сожалению всё дорого и мы не всё можем позволить! Низкий поклон благотворительному фонду ''Добро побеждает!'' спасибо неравнодушным людям, которые дали возможность пройти курс, без Вас мы бы не потянули! Спасибо всему коллективу Реацентр Крым , всё было на высшем уровне, ребёнок с удовольствием ходил к Вам! Ещё раз спасибо за оказанную помощь, всем крепкого здоровья!!
				ul.news_pug.pageReviews_pug
						each item in ['1', '2', '3', '4', '5']
							li 
								a(href="#")=item