extends _layout

block vars
	- array = {body_class:'', layout_mod:'', sub_keywords:'', title_inner:'Single services of the page'}
block content_block
	+bread(['Главная', 'Услуги', 'Прием специалистов'], 'Прием врача-педиатра')
	section.single_services 
		.section_in
			h1 Прием врача-педиатра
			.single_services--main 
				.single_services--img 
					img(src="i/single.jpg")
				.single_service--content 
					.single_services--subtitle Описание
					p Педиатр занимается динамическим наблюдением в первые месяцы после рождения ребенка, плановыми обследованиями, консультирует детей с хроническими заболеваниями, разрабатывает индивидуальный план вакцинации и т.д. В нашем центре ведут прием врачи с научной степенью и первыми, высшими категориями.
			.single_service--txt 
				.single_service--pretitle Показания
				ul 
					each item in ['Поднимается температура']
						- for(i = 0; i < 6; ++i)
								li=item
			include global/form
			.special_main 
				h5 Специалисты
				.special_slider.swiper-container 
					.swiper-wrapper
						- for(i = 0; i < 6; ++i) 
							.swiper-slide 
								.special_slide--w 
									.special_slide--img 
										img(src="i/small.jpg")
									.special_content 
										p.special_item--name Сейдалиева Эмине Казимовна
										p.special_item--prof врач функциональной диагностики
										span г. Симферополь
										.special_item--btn 
											a(href="#") Подробнее 
				.special_pug
	section.service_price 
		.section_in 
			.service_price--main 
				h5 Стоимость услуг
				ul.service_price--list 
					-
						var servicePrice = [
							{
								title: 'Услуга',
								value: 'Цена',
							},
							{
								title: 'Врач-педиатр (вторичная консультация)',
								value: '800',
							},
							{
								title: 'Врач-педиатр (вторичная консультация)',
								value: '1200',
							},
						]
					each item in servicePrice
						li 
							p.service_item--title=item.title 
							p.service_item--price=item.value
