extends _layout

block vars
	- array = {body_class:'', layout_mod:'', sub_keywords:'', title_inner:'News of the page'}
block content_block
	+bread(['Главная', 'О центре '], 'Статьи')
	section.articles-single 
		.section_in 
			.news_main 
				.articles_content 
					h1 Лечебная физкультура в реабилитации детей с ограниченными возможностями
					.articles_img--w
						.articles_img
							img(src="i/single.jpg")
						.articles_info
							p 23.11.2017
					.articles_content--txt
						p Лечебная физическая культура (ЛФК) - это комплекс физических упражнений применяющихся для лечения и реабилитации детей с поражениями опорно-двигательного аппарата и центральной нервной системы.
						p Существуют разновидности лечебной физкультуры:
						ul 
							li - адаптивная физическая культура;
							li - утренняя гимнастика;
							li - лечебная гимнастика;
							li - дозированная ходьба;
							li - лечебное плавание;
							li - механотерапия;
							li - трудотерапия.
						p В нашем реабилитационном центре с успехом используются: адаптивная физическая культура, механотерапия, дозированная ходьба. Для проведения адаптивной физической культуры подготовлен зал, оснащенный современным, проверенным годами оборудованием (шведская стенка, беговая дорожка, степпер, тактильные дорожки, мячи различных форм и диаметров, маты с обрабатываемой поверхностью, гимнастические палки, кольца) и зеркальной стеной. В процессе реабилитации детей с органическим поражением ЦНС широко используются механотерапия, представленная тренажерами: "Мотомед", беговая дорожка, степпер. 
						p В результате проведенного курса АФК отмечается улучшение мышечного тонуса (уменьшение спастики у детей с гипертонусом, укрепление мышц у детей с пониженным тонусом), увеличение силы мышц, увеличение объема активных, пассивных движений в суставах верхних и нижних конечностей, улучшение мелкой моторики и координации движений, стабилизация эмоционального фона и повышение концентрации внимания. Всё это дает ребенку возможность приобретать новые навыки и автоматизировать уже имеющиеся.
						p Обращаем внимание родителей, что для получения наилучшего результата занятия лечебной физкультурой должны быть регулярными, систематическими, нагрузка должна быть дозированной, постепенно возрастающей, с учетом индивидуальных особенностей ребенка. Все это определяет инструктор АФК/ЛФК совместно с узкопрофильными специалистами:
						ul 
							li - врач-ортопед;
							li - врач-невролог;
							li - врач-кардиолог;
							li - врач-лфк.
						p Показаниями для проведения лечебной физкультуры являются:
						ul 
							li - детский церебральный паралич (ДЦП);
							li - синдром церебрального паралича;
							li - синдром тонусных нарушений;
							li - вялые парезы и параличи;
							li - заболевания и травмы переферической нервной системы;
							li - вегето-сосудистая дисфункция;
							li - последствия черепно-мозговых травм;
							li - сколиоз и нарушения осанки;
							li - дисплазия тазобедренных суставов;
							li - плоскостопие и деформации конечностей;
							li - деформации грудной клетки;
							li - травмы конечностей в восстановительном периоде;
							li - кривошея;
							li - реабилитация после оперативного лечения.
						p Существуют противопоказания.
						ul 
							li - острые воспалительные заболевания;
							li - обострения хронических заболеваний;
							li - эпилепсия;
							li - стойкая артериальная гипертензия;
							li - все соматические заболевания в стадии декомпенсации;
							li - острые психические заболевания. 
